    .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 350px;
        margin: 13px 10px;
        background-color: #2d3748;
        padding: 10px;
        position: relative;
        border-radius: 8px;
    }
    .card_badge {
        position: absolute;
        top: 0px;
        right: 0px;
        width: 40px;
        height: 40px;
        background-color: rgb(227, 112, 30);
        color: #fff;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translate(20px, -20px) scale(1);
        border-radius: 100%;
        opacity: 0.8;
        font-size: 20px;
        font-weight: bold;
        animation: scaleanamation 1s  ease infinite; 
        transition: all 0.3s ease;
    }

    .card_badge--hidden {
        display: none;
    }
    
    @keyframes scaleanamation {
    to{
        transform: translate(20px, -20px) scale(1.05);
        opacity: 1;
    } 
    }

    .img_container img {
        width: 100%;
        object-fit: cover;

    }

    .card_body {
       display: flex;
       justify-content: space-between;
       align-items: center;
    }

    .card_title {
        font-weight: 400;
    }

    .card_price {
        font-weight: bold;
        font-size: 24px;
    }

    .hr{
        width: 100%;
        height: 1px;
        background: rgba(128, 128,128, 0.656);
        margin-bottom: 10px;
    }

    .btn_container{
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 12px;
    }
